<div class="container-fluid  d-flex">
    <div class="card-login bg-primary rounded">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-3">
            <div class="">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="number" class="form-control" formControlName="nik">
              </div>
            <div class="">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="text" class="form-control"formControlName="password">
              </div>
              <div class="mt-5">
                  <button type="button" class="btn btn-danger" (click)="login()"  routerLink="/dashboard">Primary</button>
              </div>
        </form>

    </div>
</div>